.titreGames{
    padding-top: 90px;
    font-size: 50px;
    font-weight: 300;
    padding-left: 260px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.flexAccueil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 260px;
    font-family: 'Roboto', sans-serif;
    .carteStream{
        height: 420px;
        width: 320px;
        margin: 0 30px 30px 0;
        transition: all 0.4s;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        &:hover{
            transform: scale(1.05);
        }
        .imgCarte{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .cardBodyStream{
            height: 180px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            .titreCartesStream{
                font-size: 21px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 80%;
                font-weight: 500;
            }
            .txtStream{
                width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 500;
                font-size: 18px;
            }
            .viewers{
                margin-bottom: 20px;
            }
            .lien{
                color: #fff;
                cursor: pointer;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
            }
            .btnCarte{
                height: 50px;
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background: #212529;
                font-size: 14px;
                line-height: 1.125;
                border-radius: 5px;
                padding: 2px 5px;
                cursor: pointer;
                &:hover{
                    text-decoration: none;
                    color:#fff;
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .titreGames{
        padding-left: 0px;
    }
    .flexAccueil{
        padding-left: 30px;
    }
}

@media screen and (min-width: 600px) {
    .titreGames{
        font-size: 40px;
    }
}

@media screen and (max-width: 559px) {
    .flexAccueil{
        padding-left: 0px;
        .carteStream{
            margin: 0 0 30px 0;
        }
    }
}