.containerDecaleResultats{
    overflow-x: hidden;
    padding-top: 50px;
    padding-left: 239px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    h4{
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 24px;
    }
    .carteResultats{
        height: 580px;
        width:350px;
        margin-bottom: 35px;
        position: relative;
        transition: all 0.4s;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin-top: 20px;
        &:hover{
            transform: scale(1.05);
        }
        .imgCarte{
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .cardBodyResults{
            height: 230px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            .lien{
                color: #fff;
                cursor: pointer;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
            }
            .btnCarte{
                align-self: flex-end;
                height: 50px;
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background: #212529;
                font-size: 14px;
                line-height: 1.125;
                border-radius: 5px;
                padding: 2px 5px;
                cursor: pointer;
                &:hover{
                    text-decoration: none;
                    color:#000;
                }
            }
            .btnResult{
                background: #6441a4;
                color: #000;
                font-size: 17px;
            }
            .txtResult{
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .containerDecaleResultats{
        overflow-x: hidden;
        padding-top: 0px;
        padding-left: 0px;
        h4{
            padding-top: 100px;
        }
    }
}

@media screen and (max-width:600px) {
    .containerDecaleResultats{
        h4{
            padding-bottom: 20px;
            font-size: 16px;
        }
        .carteResultats{
            height: 580px;
            width: 300px;
        }
    }
}