.headerTop{
    background: #6441a4;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-family: 'Roboto', sans-serif;
    .listeMenu{
        height: 50px;
        display: flex;
        align-items: center;
        width: 100%;
        .liensNav {
            list-style-type: none;
            padding: 0 20px;
            &:nth-child(4){
                margin: 0 auto;
                flex-shrink: 1;
                width: 600px;
            }
            .lien{
                color: #fff;
                cursor: pointer;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
            }
            .logo{
                margin-top: 5px;
            }
            .formSubmit{
                display: flex;
                flex-shrink: 1;
                .inputRecherche{
                    width: 50%;
                    background: #fff;
                    border: 2px solid #fff;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                .logoLoupe{
                    width: 20px;
                }
            }
            button{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 4px 20px;
                border: none;
            }
        }
    }
}

.menu-responsive-btn{
    display: none;
    position: fixed;
    top: 10px;
    right: 20px;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    .menuIco{
        width: 25px;
    }
}

@media screen and (max-width: 950px) {
    .liensNav:nth-child(4){
        width: 550px;
    }
}
@media screen and (max-width: 900px) {
    .listeMenu{
        flex-direction: column;
        height: 250px;
        padding-top: 50px;
        .liensNav{
            height: 100px;
            background: #6441a4;
            width: 100%;
            &:nth-child(4){
                width: 100% !important;
                padding: 10px 0 20px 0;
            }
            .formSubmit{
                justify-content: center;
            }
        }
    }
    .menu-responsive-btn{
        display: block;
        z-index: 100000;
    }
}